In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("data job posts.csv")
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [2]:
df.dtypes

jobpost             object
date                object
Title               object
Company             object
AnnouncementCode    object
Term                object
Eligibility         object
Audience            object
StartDate           object
Duration            object
Location            object
JobDescription      object
JobRequirment       object
RequiredQual        object
Salary              object
ApplicationP        object
OpeningDate         object
Deadline            object
Notes               object
AboutC              object
Attach              object
Year                 int64
Month                int64
IT                    bool
dtype: object

In [3]:
#Checking for NaN (missing values) in all columns
print(df.isna().sum())

jobpost                 0
date                    0
Title                  28
Company                 7
AnnouncementCode    17793
Term                11325
Eligibility         14071
Audience            18361
StartDate            9326
Duration             8203
Location               32
JobDescription       3892
JobRequirment        2522
RequiredQual          484
Salary               9379
ApplicationP           60
OpeningDate           706
Deadline               65
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [4]:
#â€¢ Fill missing values using mode (for categorical) and median (for numeric) where
appropriate.
for column in df.columns:
    if df[column].dtype == 'object': 
        mode_value = df[column].mode()[0]  
        df[column].fillna(mode_value, inplace=True)
    else:  
        median_value = df[column].median() 
        df[column].fillna(median_value, inplace=True)

# Check if missing values are filled
print(df.isna().sum())

jobpost             0
date                0
Title               0
Company             0
AnnouncementCode    0
Term                0
Eligibility         0
Audience            0
StartDate           0
Duration            0
Location            0
JobDescription      0
JobRequirment       0
RequiredQual        0
Salary              0
ApplicationP        0
OpeningDate         0
Deadline            0
Notes               0
AboutC              0
Attach              0
Year                0
Month               0
IT                  0
dtype: int64

In [5]:
df.columns

Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'Notes', 'AboutC', 'Attach',
       'Year', 'Month', 'IT'],
      dtype='object')

In [6]:
#Drop irrelevant columns (e.g., Attach, Notes if they contain too much noise).
columns_to_drop = ['Attach', 'Notes']
df.drop(columns=columns_to_drop, axis=1, inplace=True)
print(df.columns)

Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'AboutC', 'Year', 'Month',
       'IT'],
      dtype='object')

In [12]:
single_column = df['JobDescription']  # Replace 'JobDescription' with your column name
print(single_column)

0        AMERIA Investment Consulting Company is seekin...
1        The incumbent will work under the direct super...
2        Public outreach and strengthening of a growing...
3        The LEAD (Local Enhancement and Development fo...
4        The incumbent will work under the direct super...
                               ...
18996    A tech startup of Technolinguistics based in N...
18997    The incumbent will work under the direct super...
18998    The incumbent will work under the direct super...
18999    San Lazzaro LLC is looking for a well-experien...
19000    "Kamurj" UCO CJSC is looking for a Lawyer in L...
Name: JobDescription, Length: 19001, dtype: object

In [17]:
#Clean JobDescription and JobRequirment by:Removing HTML tags, special characters, and excessive whitespace
import re

# Function to clean text: Remove HTML tags, special characters, and excessive whitespace
def clean_text(text):
    # Remove HTML tags using regular expression
    text = re.sub(r'<.*?>', '', text)  # This will remove everything between < and >

    # Remove special characters, keeping only alphanumeric characters and spaces
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    # Remove excessive whitespace (replace multiple spaces with a single space)
    text = re.sub(r'\s+', ' ', text).strip()

    return text

# Clean the 'JobDescription' and 'JobRequirment' columns
df['Cleaned_JobDescription'] = df['JobDescription'].apply(clean_text)
df['Cleaned_JobRequirment'] = df['JobRequirment'].apply(clean_text)

# Display the cleaned data
print(df['Cleaned_JobDescription'])

0        AMERIA Investment Consulting Company is seekin...
1        The incumbent will work under the direct super...
2        Public outreach and strengthening of a growing...
3        The LEAD Local Enhancement and Development for...
4        The incumbent will work under the direct super...
                               ...
18996    A tech startup of Technolinguistics based in N...
18997    The incumbent will work under the direct super...
18998    The incumbent will work under the direct super...
18999    San Lazzaro LLC is looking for a wellexperienc...
19000    Kamurj UCO CJSC is looking for a Lawyer in Leg...
Name: Cleaned_JobDescription, Length: 19001, dtype: object

In [15]:
pip install nltk

Requirement already satisfied: nltk in c:\users\cvr\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\cvr\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\cvr\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\cvr\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\cvr\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\cvr\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [25]:
#Tokenizing and lowercasing for NLP tasks
import nltk
import pandas as pd

# Download NLTK data for tokenization
nltk.download('punkt')

# Function to clean, tokenize, and lowercase the text
def clean_tokenize_lowercase(text):
    # Tokenize the text into words
    tokens = nltk.word_tokenize(text)
   
    # Lowercase the tokens (convert all words to lowercase)
    tokens = [word.lower() for word in tokens]
   
    return tokens
df['Cleaned_JobDescription'] = df['Cleaned_JobDescription'].apply(clean_tokenize_lowercase)
df['Cleaned_JobRequirment'] = df['Cleaned_JobRequirment'].apply(clean_tokenize_lowercase)

# Display the results
print(df[['Cleaned_JobDescription','Cleaned_JobRequirment']])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\CVR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                  Cleaned_JobDescription  \
0      [ameria, investment, consulting, company, is, ...
1      [the, incumbent, will, work, under, the, direc...
2      [public, outreach, and, strengthening, of, a, ...
3      [the, lead, local, enhancement, and, developme...
4      [the, incumbent, will, work, under, the, direc...
...                                                  ...
18996  [a, tech, startup, of, technolinguistics, base...
18997  [the, incumbent, will, work, under, the, direc...
18998  [the, incumbent, will, work, under, the, direc...
18999  [san, lazzaro, llc, is, looking, for, a, welle...
19000  [kamurj, uco, cjsc, is, looking, for, a, lawye...

                                   Cleaned_JobRequirment
0      [supervises, financial, management, and, admin...
1      [participate, in, application, design, provide...
2      [working, with, the, country, director, to, pr...
3      [identify, gaps, in, knowledge, and, overseein...
4      [rendering, technical, assistance, to, databas...
...                                                  ...
18996  [work, closely, with, product, and, business, ...
18997  [establish, and, manage, category, management,...
18998  [develop, establish, and, maintain, marketing,...
18999  [handle, the, project, activites, of, the, onl...
19000  [properly, provide, internal, legal, services,...

[19001 rows x 2 columns]

In [39]:
#Extracting key skills (Python, Java, SQL, etc.).
import nltk
import pandas as pd

# Download NLTK data (for tokenizing)
nltk.download('punkt')

# Define key skills
key_skills = ['python', 'java', 'sql', 'html', 'css', 'javascript', 'nodejs', 'aws', 'spring', 'restful api', 'ruby', 'c++', 'machine learning', 'data science']
# Function to extract key skills from text
def extract_skills_from_text(text, skills_list):
    # Tokenize the text into words
    tokens = nltk.word_tokenize(text.lower())  # Convert to lowercase for matching
   
    # Extract skills by checking if the token matches any key skill
    extracted_skills = [skill for skill in skills_list if skill in tokens]
   
    # Return the skills as a comma-separated string
    return ', '.join(extracted_skills)

# Extract key skills from the 'JobDescription' and 'JobRequirment' columns
df['Extracted_JobDescription_Skills'] = df['JobDescription'].apply(lambda x: extract_skills_from_text(x, key_skills))
df['Extracted_JobRequirment_Skills'] = df['JobRequirment'].apply(lambda x: extract_skills_from_text(x, key_skills))

# Display the results
print(df[['Extracted_JobDescription_Skills', 'Extracted_JobRequirment_Skills']])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\CVR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

      Extracted_JobDescription_Skills Extracted_JobRequirment_Skills
0
1
2
3
4                                                                sql
...                               ...                            ...
18996
18997
18998
18999
19000

[19001 rows x 2 columns]

In [40]:
title_mapping = {
    "Software Eng.": "Software Engineer",
    "Software Developer": "Software Engineer",
    "Sr. Software Engineer": "Senior Software Engineer",
    "Data Sci.": "Data Scientist",
    "Data Analyst": "Data Analyst",
    "Product Mgr.": "Product Manager",
    "Proj. Manager": "Project Manager",
    "DevOps Eng.": "DevOps Engineer",
    "Sr. DevOps Eng.": "Senior DevOps Engineer",
    # Add more mappings as needed
}

# Apply the mapping to the 'Title' column
df['Title'] = df['Title'].replace(title_mapping)

# Preview the updated DataFrame
print(df['Title'])

0                                  Chief Financial Officer
1        Full-time Community Connections Intern (paid i...
2                                      Country Coordinator
3                                           BCC Specialist
4                                        Software Engineer
                               ...
18996                      Senior Creative UX/ UI Designer
18997                         Category Development Manager
18998                        Operational Marketing Manager
18999                      Head of Online Sales Department
19000                           Lawyer in Legal Department
Name: Title, Length: 19001, dtype: object

In [41]:
term_mapping = {
    "FT": "Full-time",
    "full time": "Full-time",
    "Part-time": "Part-time",
    "PT": "Part-time",
    "Contract": "Contract",
    "Internship": "Internship",
    "Temporary": "Temporary",
    "Freelance": "Freelance",
    # Add more mappings as needed
}

# Apply the mapping to the 'Term' column
df['Term'] = df['Term'].replace(term_mapping)

# Preview the updated DataFrame
print(df[['Term']])

            Term
0      Full time
1      Full time
2      Full time
3      Full time
4      Full time
...          ...
18996  Full-time
18997  Full-time
18998  Full-time
18999  Full time
19000  Full-time

[19001 rows x 1 columns]

In [42]:
#Convert date, StartDate, OpeningDate, Deadline into datetime format
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # 'errors="coerce"' will handle any invalid date format
df['StartDate'] = pd.to_datetime(df['StartDate'], errors='coerce')
df['OpeningDate'] = pd.to_datetime(df['OpeningDate'], errors='coerce')
df['Deadline'] = pd.to_datetime(df['Deadline'], errors='coerce')

# Preview the DataFrame to check if the conversion was successful
print(df[['date', 'StartDate', 'OpeningDate', 'Deadline']].head())
df.dtypes

        date StartDate OpeningDate   Deadline
0 2004-01-05       NaT  2009-07-17 2004-01-26
1 2004-01-07       NaT  2009-07-17 2004-01-12
2 2004-01-07       NaT  2009-07-17        NaT
3 2004-01-07       NaT  2009-07-17        NaT
4 2004-01-10       NaT  2009-07-17        NaT

jobpost                                    object
date                               datetime64[ns]
Title                                      object
Company                                    object
AnnouncementCode                           object
Term                                       object
Eligibility                                object
Audience                                   object
StartDate                          datetime64[ns]
Duration                                   object
Location                                   object
JobDescription                             object
JobRequirment                              object
RequiredQual                               object
Salary                                     object
ApplicationP                               object
OpeningDate                        datetime64[ns]
Deadline                           datetime64[ns]
AboutC                                     object
Year                                        int64
Month                                       int64
IT                                           bool
Cleaned_JobDescription                     object
Cleaned_JobRequirment                      object
Tokenized_JobDescription                   object
Tokenized_JobRequirment                    object
ExtractedJobDescriptionSkills              object
ExtractedJobRequirmentSkills               object
Extracted_JobDescription_Skills            object
Extracted_JobRequirment_Skills             object
DaysLeftToApply                           float64
JobStartDelay                             float64
Deadline_Year                             float64
Deadline_Month                            float64
StartDate_Year                            float64
StartDate_Month                           float64
OpeningDate_Year                          float64
OpeningDate_Month                         float64
dtype: object

In [43]:
# Calculate 'Days left to apply' (Deadline - OpeningDate)
df['DaysLeftToApply'] = (df['Deadline'] - df['OpeningDate']).dt.days

# Calculate 'Job start delay' (StartDate - OpeningDate)
df['JobStartDelay'] = (df['StartDate'] - df['OpeningDate']).dt.days

# Extract year and month from dates
df['Deadline_Year'] = df['Deadline'].dt.year
df['Deadline_Month'] = df['Deadline'].dt.month
df['StartDate_Year'] = df['StartDate'].dt.year
df['StartDate_Month'] = df['StartDate'].dt.month
df['OpeningDate_Year'] = df['OpeningDate'].dt.year
df['OpeningDate_Month'] = df['OpeningDate'].dt.month

# Preview the DataFrame with the new columns
print(df[['Deadline', 'OpeningDate', 'StartDate', 'DaysLeftToApply', 'JobStartDelay', 'Deadline_Year', 'Deadline_Month', 'StartDate_Year', 'StartDate_Month', 'OpeningDate_Year', 'OpeningDate_Month']].head())

    Deadline OpeningDate StartDate  DaysLeftToApply  JobStartDelay  \
0 2004-01-26  2009-07-17       NaT          -1999.0            NaN
1 2004-01-12  2009-07-17       NaT          -2013.0            NaN
2        NaT  2009-07-17       NaT              NaN            NaN
3        NaT  2009-07-17       NaT              NaN            NaN
4        NaT  2009-07-17       NaT              NaN            NaN

   Deadline_Year  Deadline_Month  StartDate_Year  StartDate_Month  \
0         2004.0             1.0             NaN              NaN
1         2004.0             1.0             NaN              NaN
2            NaN             NaN             NaN              NaN
3            NaN             NaN             NaN              NaN
4            NaN             NaN             NaN              NaN

   OpeningDate_Year  OpeningDate_Month
0            2009.0                7.0
1            2009.0                7.0
2            2009.0                7.0
3            2009.0                7.0
4            2009.0                7.0