In [23]:
import pandas as pd
import numpy as np
hd=pd.read_csv("C:/Users/CVR/Desktop/22B81A6705/traffic_accidents.csv")
hd.head()

,accidents,traffic_fine_amount,traffic_density,traffic_lights,pavement_quality,urban_area,average_speed,rain_intensity,vehicle_count,time_of_day,Variable,Description
0,20,4.3709,2.3049,753.000,0.7700,1,321.592,1.1944,290.8570,160.4320,accidents,"Number of recorded accidents, as a positive in..."
1,11,9.5564,3.2757,5.452,4.0540,1,478.623,6.2960,931.8120,8.9108,traffic_fine_amount,"Traffic fine amount, expressed in thousands of..."
2,19,7.5879,2.0989,6.697,345.0000,0,364.476,2.8584,830.0860,5.5727,traffic_density,"Traffic density index, scale from 0 (low) to 1..."
3,23,6.3879,4.9188,9.412,4.7290,0,20.920,2.1065,813.1590,131.4520,traffic_lights,Proportion of traffic lights in the area (0 to...
4,23,2.4042,1.9610,7.393,1.7111,1,37.378,1.7028,1.4663,6.9610,pavement_quality,"Pavement quality, scale from 0 (very poor) to ..."

In [22]:
cd

C:\Users\CVR

In [24]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8756 entries, 0 to 8755
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accidents            8756 non-null   int64
 1   traffic_fine_amount  8756 non-null   float64
 2   traffic_density      8756 non-null   float64
 3   traffic_lights       8756 non-null   float64
 4   pavement_quality     8756 non-null   float64
 5   urban_area           8756 non-null   int64
 6   average_speed        8756 non-null   float64
 7   rain_intensity       8756 non-null   float64
 8   vehicle_count        8756 non-null   float64
 9   time_of_day          8756 non-null   float64
 10  Variable             8756 non-null   object
 11  Description          8756 non-null   object
dtypes: float64(8), int64(2), object(2)
memory usage: 821.0+ KB

In [26]:
hd.dtypes

accidents                int64
traffic_fine_amount    float64
traffic_density        float64
traffic_lights         float64
pavement_quality       float64
urban_area               int64
average_speed          float64
rain_intensity         float64
vehicle_count          float64
time_of_day            float64
Variable                object
Description             object
dtype: object

In [27]:
hd.shape

(8756, 12)

In [28]:
hd.columns

Index(['accidents', 'traffic_fine_amount', 'traffic_density', 'traffic_lights',
       'pavement_quality', 'urban_area', 'average_speed', 'rain_intensity',
       'vehicle_count', 'time_of_day', 'Variable', 'Description'],
      dtype='object')

In [30]:
hd.isnull()

,accidents,traffic_fine_amount,traffic_density,traffic_lights,pavement_quality,urban_area,average_speed,rain_intensity,vehicle_count,time_of_day,Variable,Description
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8751,False,False,False,False,False,False,False,False,False,False,False,False
8752,False,False,False,False,False,False,False,False,False,False,False,False
8753,False,False,False,False,False,False,False,False,False,False,False,False
8754,False,False,False,False,False,False,False,False,False,False,False,False
8755,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
hd.isnull().sum()

accidents              0
traffic_fine_amount    0
traffic_density        0
traffic_lights         0
pavement_quality       0
urban_area             0
average_speed          0
rain_intensity         0
vehicle_count          0
time_of_day            0
Variable               0
Description            0
dtype: int64